#alinhamento
{
    float:left;
}

#input_cpf
{
    float:left;
    margin-left:24px;
}

#input_nome
{
    float:left;
    margin-left:8px;
}

#conteudo
{
    float:left;
    width:100%;
    height:100%;
}